#!/bin/sh
################################################################
# This config script is used to configure a PERSONA            #            
# AAAPERIO Demo kit network interface                          #
# The drawBridge is in the router DMZ.                         #
# Address the drawBridge via the kit IP that you set here.     #
# ALL LINES MUST START WITH NVRAM SET AS SEEN BELOW            #
# ONLY EDIT THE VALUE AFTER THE EQUALS SIGN                    #
################################################################

################################################################
# Set the kit IP Address subnet mask and gateway here.         #
# This is how the kit will appear to you on your network       #
nvram set wan_ipaddr=192.168.242.10
nvram set wan_netmask=255.255.0.0
nvram set wan_gateway=192.168.200.1


################################################################
# Ethernet / Wireless Connectivity Configuration               #
# wl_mode=ap             # set this for ETHERNET WAN           #
# wl_radio=0             # set this for ETHERNET WAN           #
#                                                              #
# wl_mode=sta            # set this for WIRELESS WAN           #
# wl_radio=1             # set this for WIRELESS WAN           #
#                                                              #
# wl0_ssid & wl0_wpa_psk # set to any  values for ETHERNET WAN #
# wl0_ssid & wl0_wpa_psk # set to good values for WIRELESS WAN #
nvram set wl_mode=ap
nvram set wl_radio=0
nvram set wl0_ssid=MySSID
nvram set wl0_wpa_psk=MyPreSharedKeyText
